{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php:\/\/stderr"
    },
    "mutators": {
        "@default": true
    },
    "minMsi": 75,
    "minCoveredMsi": 77
}
