parameters:
    level: 7
    paths:
        - public
        - src
        - test
    ignoreErrors:
        - '#Call to static method [a-zA-Z0-9\\_]+\(\) on an unknown class Tideways\Profiler.#'

includes:
	- vendor/phpstan/phpstan-beberlei-assert/extension.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
