parameters:
    level: 7
    paths:
        - public
        - src
        - test

includes:
	- vendor/phpstan/phpstan-beberlei-assert/extension.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
