<?xml version="1.0" encoding="utf-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    colors="true"
    verbose="true"
    failOnRisky="true"
>
    <testsuites>
        <testsuite name="doctrine/automatic-releases unit tests">
            <directory>./test/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
